.tatoo.layui-layer {
    border-radius: 10px;
    padding: 0;
}

.tatoo .layui-layer-title {
    border-radius: 4px 4px 0 0;
    background-color: #67d2ca;
    color: white;
    width: 100%;
    padding: 0;
    text-align: center;
    border: none;
}

.tatoo .layui-layer-content {
    text-align: center;
    padding: 30px;
    background-color: #f6f6f6;
    border-radius: 0 0 4px 4px;
}

.tatoo .layui-layer-content h2 {
    padding: 10px;
}

.tatoo .layui-layer-content p {
    color: #aaa;
}

.tatoo .layui-layer-btn {
    margin: 0;
    padding: 0;
}

.like.layui-layer {
    background-color: transparent;
}

.like .layui-layer-content {
    border-radius: 4px;
    padding: 5px 15px 15px 15px !important;
    text-align: center;
    background-color: white;
}

.like .layui-layer-content h1 {
    font-size: 28rem;
    width: 100%;
    padding:5px 0 7px 0;
    border-bottom: solid 1px #dddddd;
    font-family: '黑体',sans-serif;
}

.like .layui-layer-content h2{
    padding: 10px;
}

.like .layui-layer-content h2>*{
    display: inline-block;
    vertical-align: middle;
}

.like .layui-layer-content img{
    margin-right: 5px;
}

.like .layui-layer-content p{
    text-align: left;
    font-size: 24rem;
    color: #919191;
}

.like .layui-layer-content .btn{
    border-radius: 4px;
    padding: 5px 10px;
    color: white;
    font-size: 24rem;
    margin: 5px;
    background-color: #67d2ca;
}