*{
    padding: 0;
    margin:0;
}

html {
    font-size: 3.2%;
    font-family: "方正兰亭黑", "微软雅黑", sans-serif;
}

body{
    background-color: #f7f7f7;
}

ul{
    list-style: none;
}

input,select,textarea{
    -webkit-appearance: none;
    outline: none;
    border:0;
}

a,a:link,a:visited,a:active,b,i,h1,h2,h3,h4,h5,h6{
    text-decoration: none;
    text-shadow: none;
    font-weight: normal;
    font-style:normal;
}

.f36{font-size: 36rem;}
.f32{font-size: 32rem;}
.f28{font-size: 28rem;}
.f24{font-size: 24rem;}

.i-b{
    display: inline-block;
}

.p-a{
    position: absolute;
}

.icon-back{
    display:inline-block;
    width: 30px;
    height: 30px;
    background: url(imgs/icon_back.png) center no-repeat;
    background-size: 30px;
}

.blank{
    width:100%;
}