*{
    padding: 0;
    margin:0;
}

ul{
    list-style: none;
}

input,select,textarea{
    -webkit-appearance: none;
    outline: none;
    resize:none;
    border:0;
    font-size: 3.2%;
    font-family: "方正兰亭黑", "微软雅黑", sans-serif;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
    font-size: 3.2%;
    font-size: 32rem;
    color: #bfbfbf;
    font-family: "方正兰亭黑", "微软雅黑", sans-serif;
}

a,a:link,a:visited,a:active,b,i,h1,h2,h3,h4,h5,h6{
    text-decoration: none;
    text-shadow: none;
    font-weight: normal;
    font-style:normal;
}

html {
    font-size: 3.2%;
    font-family: "方正兰亭黑", "微软雅黑", sans-serif;
    -webkit-appearance:none;
}

body{
    min-width: 320px;
    background-color: #f3f3f3;
}

.f36{font-size: 36rem;}
.f32{font-size: 32rem;}
.f28{font-size: 28rem;}
.f24{font-size: 24rem;}

.i-b{
    display: inline-block;
}

.p-a{
    position: absolute;
}

.icon-back{
    display:inline-block;
    width: 30px;
    height: 30px;
    background: url(imgs/icon_back.png) center no-repeat;
    background-size: 30px;
}

.icon-back-gray{
    display:inline-block;
    width: 18px;
    height: 18px;
    background: url(imgs/icon_back_gray.png) center no-repeat;
    background-size: contain;
}

.blank{
    width:100%;
}

/*.isload{*/
    /*opacity: 0;*/
/*}*/


footer{
    position: fixed;
    bottom: 0;
    height:50px;
    width: 100%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}

footer>a{
    height:50px;
    display: block;
    text-align: center;
}

footer>a:nth-child(1){
    float: left;
    width: 40%;
    color: #67d2ca;
    background: url("imgs/btn-gra.png") repeat-x;
    background-size:  contain;
}

footer>a:nth-child(2){
    float: right;
    width: 60%;
    background-color: #67d2ca;
}

footer>a:nth-child(1)>img{
    width:30px;
}

footer>a:nth-child(2)>div{
    color: white;
}

footer>a:nth-child(2)>div:active{
    background-color: #8d6151;
}

#page_card,#page_address,#page_appoint,#page_nf404,#page_pdetail{
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.inahoo-vam::after{
    content: '';
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
}

.inahoo-vam>*{
    display: inline-block;
    vertical-align: middle;
}

.inahoo-clf::after{
    content: '';
    display: block;
    clear:both;
}