#page_pdetail{
    color: #f0e9dc;
}

.pdetail{
    background-color: #383431;
    padding-bottom: 30px;
}

#page_pdetail header{
    position: fixed;
    top:0;
    width: 100%;
    height:45px;
    text-align: center;
    background: url(../../imgs/header_gra.png) repeat-y;
    background-size: contain;
}

#page_pdetail .icon-back{
    left:7px;
    margin-top: 7px;
    float: left;
    vertical-align: middle;
}

#page_pdetail .wimg{
    width: 100%;
}

#page_pdetail .up{
    background-color: #49413e;
    padding-bottom: 15px;
}

#page_pdetail h2{
    width: calc( 100% - 30px );
    padding: 15px;
}

#page_pdetail p{
    width: calc( 100% - 30px );
    padding: 15px;
}

#page_pdetail .up>div>img{
    margin:0 15px;
    width: 20px;
    vertical-align: top;
}

#page_pdetail #tagAr{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: calc( 100% - 65px );
}

#page_pdetail #tagAr>span{
    display: inline-block;
    background-color: #825d5b;
    border-radius: 4px;
    margin: 2px 6px 0 0;
    padding: 2px 8px 2px 10px;
    text-align: center;
    min-width: 34px;
}

#page_pdetail .card{
    display: block;
    color: #f0e9dc;
    margin:20px 0;
    border-radius:0 999px 999px 0;
    background-color: #49413e;
    height:80px;
    width:80%;
}

#page_pdetail .avatar{
    vertical-align: top;
    margin:7px 20px;
    width: 60px;
    height:60px;
    border-radius: 999px;
    border:solid 3px rgba(240,178,112,0.6);
}

#page_pdetail .card>div{
    display: inline-block;
    vertical-align: top;
    margin:20px 0;
    height:60px;
}

#page_pdetail .card>.icon-back{
    margin:10px 0 0 calc( 80% - 60px );
    width: 12px;
    background-size: 12px;
    transform:rotate(180deg);
}

