#page_home .up{
    color:#f0e9dc;
    background-color:#383431;
}

#page_home .header>div{
    position: absolute;
}

#page_home .banner{
    width:100%;
    overflow: hidden;
    position: absolute;
}

#page_home .gra{
    width:100%;
    height:77px;
    margin-top: -77px;
    background-image: url(../../imgs/bg_gra.png);
    background-repeat: repeat-x;
    background-size: contain;
    position: absolute;
    z-index: 1;
}

#page_home .info{
    z-index: 1;
    padding:90px 0 0 20px;
    width: calc( 100% - 20px );
}

#page_home .like{
    margin-left:10px;
    display: inline-block;
    color:#322f2c;
    padding: 5px 15px 5px 40px;
    background-color: #f0b270;
    border-radius: 999px;
}

#page_home .like>div{
    position: absolute;
    margin:-3px 0 0 -26px;
    width: 20px;
    height:20px;
    background-image: url("../../imgs/icon_liked.png");
    background-size: 20px;
}

#page_home .like.av:active{
    color:#f0e9dc;
    background-color: #6f5f5c;
}

#page_home #addOne{
    position: absolute;
    top:90px;
    left:90px;
    opacity: 1;
    color:#000;
    transition:all 0.5s;
    z-index:999;
    display: none;
}

#page_home .like:active>div{
    color:#f0e9dc;
    background-image: url("../../imgs/icon_liked_active.png");
}

#page_home .row{
    border-left:1px solid #6f5f5c;
    margin-left: 33px;
}

#page_home .Sy{
    margin:15px 29px;
    width: 10px;
    height: 10px;
    background-color: #f0b270;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgb(240,178,112);
}

#page_home .Ly{
    margin:-18px 33px;
    width: 1px;
    height: 60px;
    background-color:#f0b270;
}

#page_home .vc{
    z-index: 2;
    right: 10px;
    top: 191px;
}

#page_home .Iu{
    height:93px;
    margin: 10px 80px 0 -33px;
    padding: 0 0 18px 59px;
    z-index: -1;
}

#page_home .Iu>h1{
    margin-top:-2px;
}

#page_home .Iu>p{
    margin-top:5px;
}

#page_home .Iu>span{
    display: block;
    margin-top:5px;
    white-space: nowrap;
}

#page_home .Iu>span>img{
    width:14px;
    margin-right:6px;
}

#page_home .banner>img{
    width: 100%;
}

#page_home .avatar{
    vertical-align: top;
    display: inline-block;
    width: 60px;
    height:60px;
    border-radius: 50%;
    border:solid 3px rgba(240,178,112,0.6);
    overflow: hidden;
}
#page_home .avatar>img{
    width: 60px;
    height:60px;
}

#page_home .Lg{
    margin-left:33px;
    width: 1px;
    background-color:#6f5f5c;
}

#page_home .other{
    padding:300px 0 20px 20px;
}

#page_home .other img{
    width: 38px;
    margin:0 38px 0 -20px;
    vertical-align: bottom;
    position: absolute;
}

#page_home .other .wx>div>p{
    vertical-align: top;
    margin: 10px 0 20px 60px;
}

#page_home .Sg{
    position: absolute;
    margin:15px -4px;
    width: 7px;
    height: 7px;
    background-color: #6f5f5c;
    border-radius: 5px;
}

/*这里强制使用像素作为单位，以确保分割位置为整行*/
#page_home .faith{
    background-color: #49413e;
    border-radius:4px;
    padding: 10px;
    margin:0 20px 0 32px;
    width: calc( 100% - 75px );
    font-size: 14px;
    line-height:20px;
    overflow: hidden;
    transition: height 0.5s;
}

#page_home .faith+a{
    display: block;
    margin:0 20px 0 32px;
    padding: 10px;
    color:#6ba0bb;
    background-color: #49413e;
    border-radius:0 0 4px 4px;
    width: calc( 100% - 75px );
}

#page_home .address{
    padding-top: 10px;
}

#page_home .address>div{
    background-color: #49413e;
    border-radius: 4px;
    padding:8px 10px 6px 10px;
    margin:2px 20px 0 32px;
    height:22px;
    width: calc( 100% - 75px );
}

#page_home .address>div>p{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:#f0b270;
    vertical-align: middle;
    margin-top:2px;
    width: 40%;
}

#page_home .address>div>a{
    display: inline-block;
    color:#f0e9dc;
    background-color: #a26b61;
    border-radius: 4px;
    margin-top: -2px;
    padding: 4px;
    width:60px;
    text-align: center;
    vertical-align: middle;
    float: right;
}


#page_home .up .bg{
    width: 100%;
    height:100%;
}

#page_home .do{
    background-color: #f0e9dc;
    padding-bottom: 80px;
}

#page_home #pbl{
    position: relative;
}

#page_home #pbl li{
    opacity:0;
    -webkit-transition:opacity 0.3s ease-out;
    -moz-transition:opacity 0.3s ease-out;
    -o-transition:opacity 0.3s ease-out;
    transition:opacity 0.3s ease-out;
}

#page_home #pbl img{
    border-radius: 4px 4px 0 0;
    width: 100%;
}

#page_home #pbl div{
    margin:-3px 0 0 0;
    width: 100%;
    color:#f0e9dc;
    border-radius: 0 0 4px 4px;
    background-color: #6f5f5c;
}

#page_home #pbl p{
    margin:5px 0 3px 8px;
    display: inline-block;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#page_home #pbl span{
    position: absolute;
    margin: 5px;
    float: right;
    right: 0;
}

#page_home .do h4{
    margin:30px;
    text-align: center;
    color: #8D8D8D;
}

#page_home .btn-normal {
    display: block;
    border-radius: 999px;
    border: solid 2px #ffbb77;
    background-color: #ffbb77;
    color: white;
    text-align: center;
    margin: 40px 20px;
    padding: 10px;
    width: calc(100% - 64px);
}

#page_home .btn-normal:active{
    border: solid 2px #f0e9dc;
    background-color: #6f5f5c;
    color: white;
}


