#page_appoint header{
    background-color: #383431;
    position: fixed;
    top:0;
    width: 100%;
    height:45px;
    color: white;
    text-align: center;
}

#page_appoint header>b{
    display: block;
    margin-top: 10px;
}

#page_appoint .icon-back{
    left:7px;
    margin-top: 7px;
    float: left;
    vertical-align: middle;
}

#page_appoint .oneBox{
    margin-bottom: 10px;
    background-color: white;
    border-bottom: solid 1px #e2e2e2;
}

#page_appoint .avatar+div{
    display: inline-block;
    margin: 10px 0;
    width: calc( 100% - 120px );
}

#page_appoint h1{
    color:#888;
}

#page_appoint p{
    color:#1a1a1a;
}

#page_appoint .avatar{
    vertical-align: top;
    display: inline-block;
    margin:10px 15px;
    width: 70px;
    height:70px;
    border-radius: 50%;
    overflow: hidden;
}
#page_appoint .avatar>img{
    width: 70px;
    height:70px;
}

#page_appoint .f-line{
    background-color: white;
    border-top: solid 1px #e2e2e2;
    width:100%;
}

#page_appoint .f-label{
    vertical-align: top;
    display: inline-block;
    width:80px;
    color:#797979;
    padding:10px 5px 10px 20px;
}

#page_appoint .f-text{
    width: calc( 100% - 120px );
    vertical-align: top;
    padding:10px 5px 10px 0;
    display: inline-block;
    color:#1a1a1a;
}

#page_appoint .f-text>label{
margin:0 10px 0 0;
}

#page_appoint .timeAr{
    width: calc( 100% - 120px );
    vertical-align: top;
    display: inline-block;
    color:#1a1a1a;
}

#page_appoint select:first-child{
    border-bottom: solid 1px #e2e2e2;
}

#page_appoint select{
    padding:10px 0;
    display: block;
}

#page_appoint select>option:first-child{
    color:#797979;
}

#page_appoint .btn-getVec {
    background-color: #fec418;
    color: white;
    position: absolute;
    float: right;
    text-align: center;
    padding: 11px 10px;
    margin-top: -1px;
    margin-right: -9px;
    width: 75px;
    right: 9px;
}

#page_appoint .btn-getVec.un {
    background-color: #dddddd;
    color: #aaaaaa;
}

#page_appoint .btn-normal {
    border-radius: 999px;
    border: solid 2px #ffbb77;
    background-color: transparent;
    color: #1a1a1a;
    text-align: center;
    margin: 40px 20px;
    padding: 10px;
    width: calc(100% - 64px);
}

#page_appoint .btn-normal:active{
    border: solid 2px #ffbb77;
    background-color: #ffbb77;
    color: white;
}